#right-side {
    font-family: "Roboto", helvetica, arial, sans-serif;
    animation: fade 3s ease;
    color: white;
    user-select: none;
    width: 50%;
    display: flex;
}

urdf-viewer {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

select {
    font-family: "Roboto", helvetica, arial, sans-serif;
    background: rgba(255,255,255,0.25);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 300;
    outline: none;
    float: right;
}

option {
    color: #888;
}

input[type="number"] {
    color: white;
    border: none;
    font-weight: 300;
    background: rgba(255,255,255,0.25);
    padding: 1px 2px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input[type=range] {
    -webkit-appearance: none;
    border: none;
    outline: none;
    width: 100%;
    flex: 1;
    height: 16px;
    background-color: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background: white;
    border: none;
    border-radius: 5px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: white;
    margin-top: -5px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: white;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    background: white;
    border: none;
    border-radius: 5px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: white;
}

input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 1px;
    background: white;
    border-radius: 10px;
    color: transparent;
    border: none;
    outline: none;
}
input[type=range]::-ms-thumb {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: white;
    border: none;
    outline: none;
    margin-top: 2px;
}

input:focus {
    outline: none;
    opacity: 1;
}

#up-select {
    width: 70px;
    margin: 0 20px;
}

#menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    margin: 20px;
}

#urdf-options {
    text-overflow: ellipsis;
}

#urdf-options li {
    cursor: pointer;
    opacity: 0.5;
    font-size: 20px;
    font-weight: 100;
}

#urdf-options li:hover {
    opacity: 0.75;
}

#controls {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px 0;
    transition: 0.5s opacity ease;
    overflow: hidden;
}

#controls > * {
    margin: 5px 0;
}

#controls #toggle-controls {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: right;
    transition: 0.1s opacity linear;
    border-top: 1px solid white;
}

#controls #toggle-controls:hover {
    text-decoration: underline;
    cursor: pointer;
}

#controls #toggle-controls:before {
    content: "hide controls";
    font-size: 12px;
    font-weight: normal;
}

/* hidden state */
#controls.hidden #toggle-controls:before {
    content: "show controls";
}


#controls.hidden > *:not(#toggle-controls) {
    display: none;
}

#controls.hidden #toggle-controls {
    opacity: 0.5;
}

/* list of joint sliders */
#controls ul {
    flex: 1;
    overflow-y: auto;
}

#controls li {
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 1px 0;

    width: 100%;
    user-select: text;

    transition: background 0.25s ease;
}

#controls li[robot-hovered] {
    background: rgba(255,255,255,0.35);
}

#controls li span {

    padding: 0 5px;
    max-width: 125px;
    text-overflow: ellipsis;
    overflow: hidden;

}

#controls li input[type="number"] {
    width: 50px;
    overflow: hidden;
}

/* toggle controls */
.toggle {
    padding-left: 25px;
    position: relative;

    cursor: pointer;
}

.toggle:before {
    content: "";
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;

    border-radius: 10px;
    border: 2px solid white;

    margin-right: 5px;
}

.toggle:after {
    content: "";
    width: 9px;
    height: 9px;

    position: absolute;
    left: 5px;
    top: 5px;
    background: white;
    border-radius: 10px;
    opacity: 0;
}

.toggle:not(.checked):hover:after {
    opacity: 0.25;
}

.toggle.checked:after {
    opacity: 1;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 700px) {
    #controls {
        display: none;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.highlighted {
  background-color: rgba(255, 255, 255, 0.551);
}

#poseCard-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 10%;
    overflow-y: auto;
    height: 95%;
    flex: 1;
}

.ui-element {
    position: relative;
    display: flex;
    padding: 0;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    height: 130px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.angles, .duration, .close {
    position: absolute;
    color: white;
}

.angles {
    top: 10px;
    left: 8px;
    font-size: 0.8em;
}

.icon img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.duration {
    display: flex;
    height: 20px;
    width: 100%;
    bottom: 10px;
    /* padding-right: 10px; */
}

.duration .number {
    display: inline-block;
    margin-right: auto;
    margin-left: 10px;
    font-size: large;
    font-weight: bold;
    font-style: italic;
}

.duration #group-card {
    font-size: 1em;
    text-align: center;
    font-weight: 300;
    /* margin-left: 2px; */
    margin-right: 1px;
    width: 55px;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    border-radius: 3px;
}

.duration input {
    color: white;
    border: none;
    font-size: 1em;
    text-align: center;
    font-weight: 300;
    background: rgba(0,0,0,0.5);
    width: 2.5em;
    margin-left: 2px;
}

.duration button {
    margin-left: 2px;
    margin-right: 10px;
    background-color: #666;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: auto;
}

.close {
    top: 10px;
    right: 10px;
    width: 20px;
    height: auto;
    background-color: #555;
    border: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    padding: 3px;
}